fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

alembic

python-jose[cryptography]
passlib[bcrypt]
argon2-cffi

python-multipart
pypdf

pydantic-settings

python-dotenv

qdrant-client
sentence-transformers



celery[redis]
redis
